<?xml version="1.0"?>
<!--
/**
* @author Awd Team
* @copyright Copyright (c) 2021 Awd (https://www.advancedwebsitedesign.co.uk)
* @package Awd_Base
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\AdminNotification\Block\Grid\Renderer\Actions">
        <plugin name="Awd_Base::show-unsubscribe-link" type="Awd\Base\Plugin\AdminNotification\Block\Grid\Renderer\Actions"/>
    </type>

    <type name="Magento\AdminNotification\Block\Grid\Renderer\Notice">
        <plugin name="Awd_Base::add-awd-class" type="Awd\Base\Plugin\AdminNotification\Block\Grid\Renderer\Notice"/>
    </type>

    <type name="Magento\AdminNotification\Block\ToolbarEntry">
        <plugin name="Awd_Base::add-awd-class-logo" type="Awd\Base\Plugin\AdminNotification\Block\ToolbarEntry"/>
    </type>

    <type name="Magento\ImportExport\Controller\Adminhtml\Import\Download">
        <arguments>
            <argument name="componentRegistrar" xsi:type="object">Awd\Base\Component\ComponentRegistrar</argument>
        </arguments>
    </type>

    <type name="Magento\Config\Block\System\Config\Form\Field">
        <plugin name="Awd_Base::replace-image-path" type="Awd\Base\Plugin\Config\Block\System\Config\Form\Field"/>
    </type>

    <type name="Magento\Backend\Block\Widget\Form\Element\Dependence">
        <plugin name="Awd_Base::fix-dependence" type="Awd\Base\Plugin\Adminhtml\Block\Widget\Form\Element\Dependence"/>
    </type>

    <type name="Magento\Backend\Block\Menu">
        <plugin name="Awd_Base:menu" type="Awd\Base\Plugin\Backend\Block\Menu"/>
    </type>

    <type name="Magento\Backend\Model\Menu\Item">
        <plugin name="Awd_Base:correct-market-url" type="Awd\Base\Plugin\Backend\Model\Menu\Item"/>
    </type>

    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="Awd_Base::menu_builder" type="Awd\Base\Plugin\Backend\Model\Menu\Builder"/>
    </type>

    <type name="Magento\Config\Model\Config\Structure">
        <plugin name="Awd_Base:advertise" type="Awd\Base\Plugin\Backend\Model\Config\StructurePlugin"/>
    </type>
</config>
