<?xml version="1.0"?>
<!--
/**
* @author Awd Team
* @copyright Copyright (c) 2021 Awd (https://www.advancedwebsitedesign.co.uk)
* @package Awd_Base
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MenuAwd_Base::menu" title="Awd Extensions" translate="title" sortOrder="79">
                    <resource id="Awd_Base::marketplace" title="Awd Marketplace" translate="title" sortOrder="1"/>
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Awd_Base::config"
                                      title="Awd - Extensions Information"
                                      sortOrder="110" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
